.aro2{
    transform: translateY(35px);
}

@media(max-width:768px){
    .aro2{
        display: none;
    }
    .logo img{
        width: 70px;
    }
}

@media(max-width:400px){
    
    .logo img{
        width: 60px;
    }
}